.introduction-container {
  flex: 1;
  position: relative;
  padding: 20px;
  width: 520px;
  height: 520px;
  margin: 0 auto;
  text-align: center;
  margin-left: 250px;
}

.introduction-text {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  margin-top: 20%;
  font-size: 30px;
  font-family: Times;
}

.introduction-text.visible {
  opacity: 1;
  font-family: Times;
}