button.yes-button {
  background-color: black;
  color: white;
  border: white solid 1px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(53, 53, 55, 0.6); 
  padding: 1rem 1rem;
  transition: all 0.3s;
  border-top: 4px solid white;
}

button.yes-button:hover {
  background-color: white;
  color: black;
  border: black solid 1px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: 0px 15px 25px -5px rgba(53, 53, 55, 0.6);
  transform: scale(1.03);
}

button.yes-button:active {
  box-shadow: 0px 4px 8px rgba(53, 53, 55, 0.6);
  transform: scale(0.98);
} 