.yin-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px 0;
  height: 300px;
  width: 300px;
  margin-left: 150px;
}

.yin-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}